# ==========================
# Python
# ==========================
backend/venv/
**/__pycache__/
*.py[cod]

# ==========================
# Environment Variables
# ==========================
backend/.env

# ==========================
# Database
# ==========================
backend/db.sqlite3

# ==========================
# Node.js
# ==========================
frontend/node_modules/

# ==========================
# Build Files
# ==========================
frontend/dist/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db